body {
    font-family: Helvetica;
}
header {
    
    background-image: url('https://raw.githubusercontent.com/kriradevska/dasmotos-arts-crafts/main/pictures/pattern.webp');
}

h1 {
    font-size:100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2{
    font-size: 32px;
    font-weight: bold;
    color: white;
    
}

.brushes h2 {
    background-color: mediumaquamarine;
}

.frames h2 {
    background-color: lightcoral;
}

.paint h2 {
    background-color: skyblue;
}

strong {
    color: blue;
}